
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
}
 body{
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Roboto Slab', serif;
 }

.app{
     height: 100vh;

     display: flex;
      flex-direction: column;
       justify-content: space-between;
        align-items: center;
       
}
 header h1{
      margin: 50px 0px 30px 0px;
      text-align: center;
       font-size: 40px;
       
 }
  header p {
       font-size: 24px;
  }

.pads{
     background-color: aqua;
     width: 100%;
      display: flex;
}
.pads > div{
     height: 100px;
     width: 100px;
     flex: 1;
    
}
.pad1{
    background-color: #ff6b6b;
}
.pad2{
    background-color:#ff9ff3;
}
.pad3{
    background-color: #54a0ff;
}
.pad4{
    background-color:#5fd11d;
}
.pad5{
    background-color: #00d2d3;
}
.pad6{
    background-color: #A3CB38;
}
.pad7{
    background-color: #EE5A24;
}
.pad8{
    background-color:#786fa6;
}
.pad9{
    background-color: #FEA47F;
}
.pad10{
    background-color: #f5cd79;
}